@import './_colors.scss';

button, a.button {
  margin: 1em auto;
  border: none;
  transition: all 0.33s;
  border-radius: 2em;
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 0.66em 1em;
  display: block;

  color: var(--button-text-color);
  background-color: var(--button-background-color);

  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.05em;
  
  &.buy {
    background-color: darkgray;
    color: #fff;
  }

  &:hover {
    transform: scale(1.1);
    Xfilter: brightness(0.66);
    Xbackground-image: linear-gradient( to bottom, hsl(30, 100%, 50%), hsl(30, 100%, 39%));
  }
}

@mixin apple-button {
  background: var(--button-background-color);
  border: 0 solid rgba(0, 0, 0, 0.25);
  border-radius: 0.6em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  color: var(--button-text-color);;
  cursor: pointer;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  text-shadow: 0, -1px, 1px rgba(0, 0, 0, 0.25);
  font-size: 0.8rem;
}

a.apple-button {
  @include apple-button;
}
