

:root {
  --orange-color: #e24725;
  --blue-color: #0a3d62;
  --green-color: #3c6e71;
  --light-spring-green-color: #6da104;
  --purple-color: #7000c1;
  --charcoal-color: #333;
  --silver-color: #eee;
  --triple-rainbow: linear-gradient(217deg, rgba(255,0,0,.8), rgba(8, 6, 6, 0) 70.71%),
                    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
                    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  
  
  
  --light-background-color: #ffffff;
  --light-text: #213547;
  --light-backdrop: var(--triple-rainbow);

  --dark-background-color: #242424;
  --dark-text: #ccc;
  --dark-backdrop: var(--green-color);

  
}

.light-theme {
  --background-color: var(--light-background-color);
  --text-color: var(--light-text);
  --backdrop-color: var(--light-backdrop);
  --highlight-color: var(--orange-color);
  --secondary-highlight-color: var(--charcoal-color);
}

.dark-theme {
  --background-color: var(--dark-background-color);
  --text-color: var(--dark-text);
  --backdrop-color: var(--dark-backdrop);
  --highlight-color: var(--orange-color);
  --secondary-highlight-color: var(--charcoal-color);
}
