@import './_colors.css';

@mixin modal {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--background-color);
  padding: 3em 2em;
  box-sizing: border-box;
 
  height: 80vh;
  margin: 0 auto;

  width: 100%;
  border-radius: none;

  opacity: 1;
  transition: opacity 0.5s ease-out;
  transition-delay: 1s;

  &.fading {
    opacity: 0;
  }

  .container {
    overflow-y: auto;
  }

  .close-button {
    cursor: pointer;
    position: absolute;
    top: 1em;
    right: 1em;
  }

  @media (min-width: 44em) {
    position: fixed;
    top: 5%;
    width: 75%;
    max-width: 64em;
    border-radius: 0.66em;

  }

  @media (min-width: 66em) {
    width: 66%
  }
}

