ul.products {
  text-align: left;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  
  li {
    margin: 0 0 1em 0;
    position: relative;
  }
  
  h2.productName {
    margin: 0 0 0.25em 0;
  }
  
  p {
    margin: 0 0 0.5em 0;
  }
  
  p.productPrice {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
  }
}

ul.categories {
  text-align: left;
  list-style: none;
  padding-left: 0;
  
  li {
    margin: 0 0 1em 0;
    position: relative;
  }
  
  h2.categoryName {
    margin: 0 0 0.25em 0;
  }
  
  p {
    margin: 0 0 0.5em 0;
  }
}