@import "./_colors.css";

.categories {
  display: flex;
  flex-wrap: wrap;
}

.category {
  a {
    display: inline-block;
    cursor: pointer;

    padding: 0.25em 1em;
    margin: 0.25em;
    background-color: var(--orange-color);
    border: 1px solid var(--orange-color);
    color: #fff;
    border-radius: 0.5em;

    &:hover {
      text-decoration: none;
      color: #fff;
      filter: brightness(115%);
      box-shadow: #999 0 0px 5px;
    }

    &.active {
      background-color: #fff;
      color: var(--orange-color);
    }
  }

  p {
    display: none;
  }
}

ul.categories {
  text-align: left;
  list-style: none;
  padding-left: 0;

  li {
    margin: 0 0 1em 0;
    position: relative;
  }

  h2.categoryName {
    margin: 0 0 0.25em 0;
  }

  p {
    margin: 0 0 0.5em 0;
  }
}

ul.products {
  text-align: left;
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  li {
    margin: 0 0 1em 0;
    padding: 0 0 1em 0;
    position: relative;
    cursor: pointer;

    &:hover {
      filter: brightness(115%);
    }
  }

  h3.productName {
    margin: 0 0 0.25em 7em;
    padding-right: 4em;
  }

  div.productPhoto {
    position: absolute;
    top: 0;
    left: 0;
    width: 6em;
    height: 6em;
    object-fit: cover;
    overflow: hidden;

    img {
      width: 100%;
      margin: 0 auto;
    }
  }

  p {
    margin: 0 0 0.5em 0;
  }

  p.productPrice {
    position: absolute;
    top: 0.2em;
    right: 0;
    font-weight: bold;
  }

  p.productDescription {
    margin-left: 8em;
  }
}

.overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.productDetails {
  position: fixed;
  z-index: 1001;
  top: 2em;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 1em;
  border-radius: 1em;
  width: 60%;
  height: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 2em;
  }

  .container {
    display: flex;
  }

  .productPhoto {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    object-fit: cover;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
  
  .productDescription {
    margin-left: auto;
  }

  p {
    margin: 0 0 0.5em 0;
  }
}
