@import './_colors.scss';
@import './_buttons.scss';
@import './_card.scss';
@import './_modal.scss';


body  {
  padding-top: 1rem;
}

header {
  @include card-style;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  

  .card {
    padding: 1em;
  }

  div {
    h1 {
      line-height: 1.8;
      margin-left: 0;
      margin-bottom: 0;
    }
  }

  @media (min-width: 44em) {
    div h1 {
      margin-left: 0.5em;
    }
  }
}

.catalog {
  position: relative;
  @include card-style;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.cartIndicator {
  z-index: 1000;
  top: 0rem;
  background-color: var( --highlight-color );
  color: #fff;
  padding: 0.333em 2em;
  font-size: 0.8rem;
  cursor: pointer;

  .fa-chevron-right {
    position: absolute;
    right: 0.6rem;
    top: 0.6rem;
  }

}

.cart {
  position: relative;
  display: block;
  margin-top: -1em;
  height: 2em;
  width: 100%;
  right: 0;
  background-color: var(--highlight-color);
  color: var(--background-color);
  
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
  transition: all 0.5s;

  &.show {
    height: auto;
    width: 100%;
    left: 0;

    .cartIndicator {
      display: none;
    }

    .contents {
      display: block;
    }
  }

  .contents{
    display: none;
    top: 1em;
    z-index: 999;
    width: 100%;
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    text-align: left;
    padding: 0.33rem 1em 1em;

    h4 {
      text-align: center;
      margin-top: 0;
    }

    .close-button {
      font-size: 0.8rem;
      position: absolute;
      top: 0.6rem;
      right: 0.6rem;
      cursor: pointer;
    }
  }

  h2 {
    border-bottom: 1px solid var(--background-color);
  }
  
  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  li {
    display: flex;
    justify-content: space-between;
    justify-content: flex-start;
    margin: 0 0 0.33em 0;

    span {
      display: block;
      margin-right: 1em;
      

      &.name {
        width: 80%;
      }

      &.amount {
        width: 8em;
        text-align: right;
        margin-right: 1em;
      }

      &.total {
        text-align: right;
      }
    
    }

    a.remove {
      color: var(--background-color);
      cursor: pointer;
      width: 4rem;
      font-size: 0.6rem;
      margin-top: 0.4em;

    }
    
    &.total {
      .name {
        text-align: right;
      }
    }

    .amount {
      margin-left: auto;
      margin: 0 0 0 auto;
    }
  }
}

@media (min-width: 44em) {
  .cart {
    margin-top: -2em;
  }

  .cartIndicator {
    width: 100%;
    margin-top: -2.5em;
  }
  
}

.categories {
  display: flex;
  flex-wrap: wrap;
}


ul.categories {
  text-align: center;
  list-style: none;
  padding-left: 0;
  justify-content: center;
  padding-top: 1em;

  h2.categoryName {
    margin: 0 0 0.25em 0;
  }

  p {
    margin: 0 0 0.5em 0;
  }

 li {
    font-size: 0.8rem;
    margin: 0 0 1em 0;
    position: relative;
    a {
      display: inline-block;
      cursor: pointer;
  
      padding: 0.25em 1em;
      margin: 0.25em;
      background-color: var(--highlight-color);
      border: 1px solid var(--highlight-color);
      color: #fff;
      border-radius: 0.5em;
  
      &:hover {
        text-decoration: none;
        color: #fff;
        filter: brightness(115%);
        box-shadow: #999 0 0px 5px;
      }
  
      &.active {
        background-color: #fff;
        color: var(--highlight-color);
      }
    }
  
    p {
      display: none;
    }
  }
  
}


ul.products {
  text-align: left;
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  li {
    margin: 0 0 2em 0;
    padding: 0 0 1em 0;
    position: relative;
    cursor: pointer;
    height: 6em;
    height: 8em;

    &:hover {
      filter: brightness(75%);
    }
  }

  .productName {
    position: absolute;
    top: 0;
    left: 7rem;
    margin: 0 0 0.25em 0;
    line-height: 1;
    font-size: 1em;
  }

  .productPhoto {
    position: absolute;
    top: 0;
    left: 0;
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: center;
    

    img {
      width: 125%;
      object-position: 50% 50%;
    }
  }

  p {
    margin: 0 0 0.5em 0;
  }

  .productPrice {
    position: absolute;
    bottom: 0;
    right: 0;
    
    font-weight: bold;
    width: 5em;
    text-align: center;
    
    border: 1px solid #ccc;
    display: block;
    line-height: 1.2;
    padding: 0.25em 0.25em
  }

  .productDescription {
    position: absolute;
    display: none;
    top: 2.4rem;
    left: 7rem;
    line-height: 1;
    font-size: 0.8rem;
  }
}

@media (min-width: 44em) {

  ul.products {
    .productName {
      margin: 0 0 0.25em 0em;
      padding-right: 4em;
    }

    .productPrice {
      top: 0.2em;
      right: 0;
      left: auto;
      height: 2rem;
    }

    .productDescription {
      display: block;
    }

    &.grid {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: space-between;

      li {
        width: 48%;
        flex-basis: 48%;
        flex-grow: 0;
        
        .productionDescription{
          display: none;
        }
      }
    }
  }
}

.overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.productDetails {
  @include modal;
  
  
  h1 {
    font-size: 1.4em;
    margin-bottom: 0;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 2em;
    font-size: 0.9em;
  }

  .container {
    display: block;
  } 

  .productPhoto {
    padding-bottom: 1em;
    margin: 0 auto;
    object-fit: cover;
    overflow: hidden;
    
    flex-grow: 2;
    flex-basis: 50%;
    min-width: 0;

    img {
      width: 100%;
    }
  }

 
  
  .productDescription {
    margin-left: auto;
    text-align: left;
    
    flex-grow: 0;
    flex-basis: 50%;
    min-width: 0;
    
    .gutter {
      padding: 0em 2em;
    }
  }

  p {
    margin: 0 0 0.5em 0;
  }

  .productPrice {
    display: block;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 0.2em;
    padding: 0.25em;
    
    margin: 1em auto;
    width: 6em;

    &:before {
      font-size: 1rem;
      font-weight: normal;
      content: 'Price: ';
      vertical-align: 50%;
      
    }

    
  }

  button.buy {
    margin: 1em auto;
    width: 13em;
    background-color: var(--highlight-color);
  }

}

@media (min-width: 44em) {
  ul.categories {
    padding-top: 0;
  }

  ul.products {
    &.grid {
      
      .productDescription{
        display: none;
      }
    
    }
  }

  .productDetails {
    h1 {
      font-size: 1.8em;
    }

    .container {
      display: flex;
    }

    .productPhoto {
      width: 50%;
      height: 50%;
      padding: 0
    }

    .productDescription {
      width: 50%;
    }
  }
}