@import './_colors.css';

.categories {
  display: flex;
  flex-wrap: wrap;
}

.category {
  a {
    display: inline-block;
    
    padding: 0.25em 1em;
    margin: 0.25em;
    background-color: var(--orange-color);
    border: 1px solid var(--orange-color);
    color: #fff;
    border-radius: 0.5em;
    
    &:hover {
      text-decoration: none;
      color: #fff;
      filter: brightness(115%);
      box-shadow: #999 0 -2px 5px;
    }
    
    &.active {
      background-color: #fff;
      color: var(--orange-color);
    }
  }
  
  p {
    display: none;
  }
}